<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <title>6-3 插值字符串</title>
</head>

<body>
    <div ng-controller="myCtrl">
         <input type="email" ng-model="to" placeholder="recipient">
         <textarea ng-model="emailBody" id="" cols="30" rows="10"></textarea>
        <pre>
                {{previewText}}
        </pre>
        <div id="emailpreview">
            <pre>__previewText__</pre>
        </div>
    </div>
   
</body>
<script>
        var app = angular.module('myApp', []);
        app.config(
            ['$interpolateProvider',function($interpolateProvider){
                $interpolateProvider.startSymbol('__');
                $interpolateProvider.endSymbol('__');
            }]
        )
        .factory('EmailParser',['$interpolate',function($interpolate){
            return {
                parse:function(text,context){
                    var template = $interpolate(text);
                    return template(context);
                }
            }
        }])
        app.controller('myCtrl', ['$scope','EmailParser',function ($scope,EmailParser) {
             $scope.to="dljaljsdf";
             $scope.$watch('emailBody',function(body){
                 if(body){
                   
                     $scope.previewText=EmailParser.parse(body,{to:$scope.to});
                 }
             });
         }]);

    </script>
</html>