<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <title>5-1 </title>
</head>

<body>
    <div ng-controller="FirstController">
        <h4>the simplest adding machine ever</h4>
        <button ng-click="add(1)" class="button">Add</button>
        <a ng-click="subtract(1)" class="button alert" >Subtract</a>
        <h4>Current count:{{counter}}</h4>

    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('FirstController', function ($scope,$timeout) {
          $scope .counter=0;
          $scope.add=function(amount){
              $scope.counter+=amount;
          };
          $scope.subtract =function(amount){
              $scope.counter-=amount;
          }
        });

        // app.controller('childCtrl',function($scope){
        //     $scope.sayHello=function(){
        //         $scope.person.name ='ari lerner';
        //     }
        // });

    </script>
</body>

</html>