<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <title>4-3</title>
</head>

<body>
    <div ng-controller="myCtrl">
        <div ng-if="!flag" >
            <input ng-model="$parent.value1" placeholder="第一个"/>
         </div>
         <input ng-model="value2" placeholder="第二个"/>
         <button ng-click="click()">点击</button>
    </div>
    <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function ($scope, $timeout) {
 
                $scope.click = function () {
                    console.log($scope.value1);
                    console.log($scope.value2);
                }
        });

    </script>
</body>

</html>