<div>
  <form
    #formRef="ngForm"
    class="login-form"
    (ngSubmit)="onSubmit(formRef.value)"
  >
    <mat-form-field class="app-field-cell">
      <input matInput placeholder="请输入用户名"
      name="username"
      required
      minlength="3"
      [(ngModel)]="username"
      #usernameRef="ngModel"
      />
      <mat-error *ngIf="usernameRef.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field class="app-field-cell">
      <input matInput placeholder="请输入密码"
      required
      name="password"
      type="text"
      [(ngModel)]="password"
      #passwordRef="ngModel"
      />
    </mat-form-field>





    <!-- <button (click)="onClick()">login</button> -->
    <button  mat-flat-button color="primary" style="width: 100%;" type="submit">登录</button>
  </form>
</div>
