<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../lib/angular.js"></script>
    <title>9-9 ng-click </title>
    <style>
        input.ng-invalid {
            border: 1px solid red;
        }

        input.ng-valid {
            border: 1px solid green;
        }
    </style>
</head>

<body>

    <div ng-controller="CounterController"> <button ng-click="count = count + 1" ng-init="count=0"> Increment

        </button> count: {{ count }} <button ng-click="decrement()"> Decrement </button>
        <div>


</body>
<script>
    angular.module('myApp', []).controller('CounterController', function ($scope) {
        $scope.decrement = function () {
        $scope.count = $scope.count - 1;
        };
    })
</script>

</html>