<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../lib/angular.js"></script>
    <script src="./../lib/angular-route.js"></script>
    <title> 20-1 angular 事件 </title>
</head>

<body>
    <div ng-controller="MyController">
        <hello>
           
        </hello>
    </div>
</body>
<script>

    angular.module('myApp', [])
        .directive('child', function () {
            return {
                restrict: 'AE',
                template: ' <button ng-click="sayHello()">Hello</button>',
                scope: {

                },
                link: function (scope, element, attrs) {
                    scope.sayHello = function(){
                        console.log('click in child component');
                        scope.$emit('post',{info:'test evetn emit'})
                    }
                    scope.$on('dive',function(evt){
                        console.log(' trigger dive',evt);
                        
                    })
                }
            }
        })
        .directive('hello', function () {
            return {
                restrict: 'AE',
                template: '<button ng-click="test()">broadcase</button> <child></child>',
                scope: {

                },
                link: function (scope, element, attrs, ctrl) {
                    console.log('11111');
                   scope.test=function (){
                       scope.$broadcast('dive',{change:2.33})
                   }
                    
                    
                   scope.$on('post',function(evt){
                       console.log('post in link ',evt);
                       
                   })
                },
                controller: function ($scope, $element, $attrs, $transclude) {
                    console.log('22222');
                    console.log('scope',$scope);
                    console.log('name',$scope.name);
                    
                    
                    $scope.$on('post', function (evt) {
                        console.log('evt', evt);

                    })
                }
            }
        })
        .controller('MyController', function ($scope) {
            $scope.name ="hahha"
        })
</script>

</html>