<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./../lib/angular.js"></script>
    <title>9-1 内置指令</title>
</head>

<body>
    <div ng-controller="myCtrl">
        <h2>1. ng-disabled</h2>
        <input type="text" ng-model="someProperty" placeholder="TypetoEnable">
        <button ng-model="button" ng-disabled="!someProperty">AButton</button>
        <textarea ng-disabled="isDisabled">Wait5seconds</textarea>

        <h2>readonly</h2>
        Type here to make sibling readonly:<input ng-model="isreadonly">
        <input type="text" ng-readonly="isreadonly" value="Some text here" />

        <h2>ng-checked</h2>
        <p>
            <label>someProperty = {{isChecked}}</label>
            <input type="checkbox" ng-checked="isChecked" ng-init="isChecked = true" ng-model="isChecked">
        </p>
        <h2>ng-selected</h2>
        <p>
            <label>Select Two Fish:</label><input type="checkbox" ng-model="isTwoFish">
            <select>
                <option>One Fish</option>
                <option ng-selected="isTwoFish">Two Fish</option>
            </select>
        </p>

    </div>

</body>
<script>
    var app = angular.module('myApp', []);
    app.run(function ($rootScope, $timeout) {
        $rootScope.isDisabled = true;
        $timeout(function () {
            $rootScope.isDisabled = false;
        }, 5000);
    });

    app.controller('myCtrl', ['$scope', '$filter', function ($scope, $filter) {
        $scope.someProperty = true;
        $scope.button = "lalal";
        $scope.isDis = true;

    }]);


</script>

</html>