<header>
  <a mat-stroked-button routerLink="/playground" routerLinkActive="active">playground</a>
<a mat-stroked-button routerLink="/md" routerLinkActive="active">md</a>
<a mat-stroked-button routerLink="/chart" routerLinkActive="active">chart</a>
<a mat-stroked-button routerLink="/animate" routerLinkActive="active">chart</a>
<button nz-button routerLink="/animate" routerLinkActive="active" nzType="primary">animate</button>
<button nz-button routerLink="/rx" routerLinkActive="active" nzType="primary">rxjs play</button>
</header>

<section class="app-content">
 <router-outlet></router-outlet>

</section>
<footer>
  foot
</footer>
