<!-- <header> -->

  <!-- <a mat-stroked-button routerLink="/playground" routerLinkActive="active">playground</a> -->
 <!--<a mat-stroked-button routerLink="/md" routerLinkActive="active">md</a>
<a mat-stroked-button routerLink="/chart" routerLinkActive="active">chart</a>
<a mat-stroked-button routerLink="/animate" routerLinkActive="active">chart</a>
-->
<!-- <button nz-button routerLink="/playground" routerLinkActive="active" nzType="primary">playground</button>
<button nz-button routerLink="login" routerLinkActive="active" nzType="primary">login</button>
<button nz-button routerLink="todos/All" routerLinkActive="active" nzType="primary">Todo</button>
<button nz-button routerLink="/animate" routerLinkActive="active" nzType="primary">animate</button>
<button nz-button routerLink="/rx" routerLinkActive="active" nzType="primary">rxjs play</button>
</header>

<section class="app-content">
 <router-outlet></router-outlet>

</section>
<footer>
  foot
</footer> -->


<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item  routerLink="login" routerLinkActive="active">login</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Todo" nzIcon="team">
        <ul>
          <li nz-menu-item routerLink="todos/ALL">ALL</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
        <!-- <img src="https://source.unsplash.com/random/1600x900" alt=""> -->
      </div>
    </nz-content>
    <nz-footer>wflixu  Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>



